* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.topmenu {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Removed .topmenu list-style-type: none from ul*/

.topmenu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 25px;
    
}

.topmenu ul li a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero  {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.article-block {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Created one class for all article blocks, named .article-block*/

.article-block img{
    max-height: 200px;
    border-radius: 10px;
}

/*Combined three image heights into a under class -- image */

.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Eliminated individual lines of h2 formatting into one line of code */

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-content{
    margin-bottom: 32px;
    color: #ffffff;
}

/*Removed each line listing for benefit- classes and placed them on one lin*/

.benifit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Removed Class to h3 formatting into one h3 line*/

.asideimage {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Created a class for all aside images*/

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

.footer h2 {
    font-size: 20px;
}
